<a href="https://colab.research.google.com/github/kimeunh3/Intro_to_Tensorflow/blob/main/%EC%8B%A4%EC%8A%B52_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 레모네이드 판매 예측
 - github csv url: ['https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'](https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv)

In [2]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [3]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [4]:
# 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [5]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [7]:
# 모델을 학습합니다.
# model.fit(독립, 종속, epochs=10000, verbose=0) 10000번 학습시키되 과정출력 생략
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 5ms/step - loss: 1.5116e-04
Epoch 2/10
1/1 [==============================] - 0s 7ms/step - loss: 1.5107e-04
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 1.5098e-04
Epoch 4/10
1/1 [==============================] - 0s 6ms/step - loss: 1.5100e-04
Epoch 5/10
1/1 [==============================] - 0s 7ms/step - loss: 1.5105e-04
Epoch 6/10
1/1 [==============================] - 0s 8ms/step - loss: 1.5115e-04
Epoch 7/10
1/1 [==============================] - 0s 6ms/step - loss: 1.5133e-04
Epoch 8/10
1/1 [==============================] - 0s 8ms/step - loss: 1.5148e-04
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 1.5153e-04
Epoch 10/10
1/1 [==============================] - 0s 7ms/step - loss: 1.5150e-04

In [8]:
# 모델을 이용합니다.
model.predict(독립)

array([[40.015903],
       [42.014347],
       [44.01279 ],
       [46.01124 ],
       [48.00968 ],
       [50.008125]], dtype=float32)

In [9]:
# 실제 결과와 비교
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [10]:
# 다른 값 예측
model.predict([[15]])

array([[30.023684]], dtype=float32)