<a href="https://colab.research.google.com/github/kimeunh3/Intro_to_Tensorflow/blob/main/%EC%8B%A4%EC%8A%B53_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 보스턴 집값 예측
 - github csv url: ['https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'](https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv)

In [6]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [21]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = '/content/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [8]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [10]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [15]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4439
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6457
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5053
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0894
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4006
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1694
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0452
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.8946
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 25.8687
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1273

In [18]:
# 4. 모델을 이용합니다.
model.predict(독립[5:10])

array([[26.903069],
       [22.111902],
       [19.026138],
       [10.43589 ],
       [18.605951]], dtype=float32)

In [19]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [20]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08831084],
        [ 0.07048061],
        [-0.05306183],
        [ 3.340051  ],
        [ 1.9877743 ],
        [ 4.1579633 ],
        [ 0.01307617],
        [-0.9013283 ],
        [ 0.15373246],
        [-0.00845369],
        [-0.05467437],
        [ 0.01643426],
        [-0.5657239 ]], dtype=float32), array([2.980027], dtype=float32)]

`집값 = -0.08831084 \* x1 + 0.07048061 \* x2 + -0.05306183 \* x3 + 3.340051 \* x4 + 1.9877743 \* x5 + 4.1579633 \* x6 + 0.01307617 \* x7 + -0.9013283 \* x8 + 0.15373246 \* x9 + -0.00845369 \* x10 + -0.05467437 \* x11 + 0.01643426 \* x12 + -0.5657239 \* x13 + 2.980027`